
:root {
    --blackShadow: rgba(30, 30, 30);
    --lightShadow: rgba(5, 5, 5);
}
body {
    display: block;
    /*background: rgba(0, 0, 0, .55) url("background.png") no-repeat center fixed;
    background-size:cover;*/
    width: 100%;
    height: 100%; 
    background-color: rgba(25, 25, 25);
    font-family: 'Gidole', sans-serif;
    font-weight: lighter;
    user-select: none;
    cursor: default;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    border-radius: 20px;
    box-shadow: inset 10px 10px 10px -1px rgb(5, 5, 5), inset -10px -10px 10px -1px rgba(30, 30, 30);
    width: 80%;
    height: 120px;
}

.logoCont {
    position: absolute;
    z-index: 1;
    rotate: 0deg;
    height: 57px;
    margin-top: 0px;
    transition: 1s ease-in-out;
}

.logoCont:hover {
    transform-origin: center;
    rotate: 720deg;
    /*animation: spin 1s ease-in-out;*/
}

.title {
    position: absolute;
    z-index: 2;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(25, 25, 25);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    width: 45%;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 160px;
    margin-top: -7px;
    box-shadow: 10px 10px 10px -1px rgba(5, 5, 5), -10px -10px 10px -1px rgba(30, 30, 30);
}

.program {
    border-radius: 20px;
}

.pbr {
    cursor: pointer;
    border-radius: 20px;
    color: #3A025b;
    animation: outShort 0.09s ease-in-out;
    box-shadow: 4px 4px 4px -1px rgb(5, 5, 5), -4px -4px 4px -1px rgba(30, 30, 30);
    padding-left: 35px;
    padding-right: 20px;
    font-size: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.1s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
}

.pbr:focus, .pbr:hover {
    animation: blendIn 0.09s ease-in-out;
    box-shadow: none;
}

.pbr:active {
    font-size: 48px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 39px;
    padding-right: 24px;
    animation: inShort 0.09s ease-in-out;
    box-shadow: inset 4px 4px 4px -1px rgb(5, 5, 5), inset -4px -4px 4px -1px rgba(30, 30, 30);
}

.allLinks {
    word-spacing: 50px;
    animation: outwards 0.2s ease-in-out;
    box-shadow: 10px 10px 10px -1px rgb(10, 10, 10), -10px -10px 10px -1px rgba(20, 20, 20);
}

.link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-radius: 20px;
    padding-right: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    background-color: rgba(25, 25, 25);
    text-decoration: none;
    text-align: center;
    animation: outwards 0.2s ease-in-out;
    box-shadow: 10px 10px 10px -1px rgba(5, 5, 5), -10px -10px 10px -1px rgb(30, 30, 30);
    margin-top: 2.9%;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    background-color: rgba(27, 27, 27);
}

.link:active, .link:focus {
    animation: inwards 0.2s ease-in-out;
    box-shadow: inset 10px 10px 10px -1px rgb(5, 5, 5), inset -10px -10px 10px -1px rgba(30, 30, 30);
}

.about {
    z-index: 2;
    margin-left: 10.5%;
}

.demo {
    z-index: 2;
    margin-left: 30.5%
}

.discord {
    z-index: 2;
    margin-left: -9.5%;

}

.latest {
    z-index: 2;
    margin-left: -29.5%
}

.theme {
    z-index: 3;
    background-color: rgba(0, 0, 0);
    cursor: pointer;
    margin-left: 3px;
    margin-top: 38%;    
    rotate: 180deg;
    transform-origin: center;
    transition: rotate 1s ease-in-out;
}

@media all and (display-mode: fullscreen) {
    .link {
        margin-top: 2.9%;
    }

    .back {
        margin-top: 47%
    }

    .theme {
        margin-top: 47%
    }
}

@keyframes inwards {
    0% {
        box-shadow: inset 0px 0px 0px -1px rgb(5, 5, 5), inset 0px 0px 0px -1px rgba(30, 30, 30);
    }
    10% {
        box-shadow: inset 1px 1px 1px -1px rgb(5, 5, 5), inset -1px -1px 1px -1px rgba(30, 30, 30);
    }
    20% {
        box-shadow: inset 2px 2px 2px -1px rgb(5, 5, 5), inset -2px -2px 2px -1px rgba(30, 30, 30);
    }
    30% {
        box-shadow: inset 3px 3px 3px -1px rgb(5, 5, 5), inset -3px -3px 3px -1px rgba(30, 30, 30);
    }
    40% {
        box-shadow: inset 4px 4px 4px -1px rgb(5, 5, 5), inset -4px -4px 4px -1px rgba(30, 30, 30);
    }
    50% {
        box-shadow: inset 5px 5px 5px -1px rgb(5, 5, 5), inset -5px -5px 5px -1px var(--blackShadow);
    }
    60% {
        box-shadow: inset 6px 6px 6px -1px rgb(5, 5, 5), inset -6px -6px 6px -1px var(--blackShadow);
    }
    70% {
        box-shadow: inset 7px 7px 7px -1px rgb(5, 5, 5), inset -7px -7px 7px -1px var(--blackShadow);
    }
    80% {
        box-shadow: inset 8px 8px 8px -1px rgb(5, 5, 5), inset -8px -8px 8px -1px var(--blackShadow);
    }
    90% {
        box-shadow: inset 9px 9px 9px -1px rgb(5, 5, 5), inset -9px -9px 9px -1px var(--blackShadow);
    }
    100% {
        box-shadow: inset 10px 10px 10px -1px rgb(5, 5, 5), inset -10px -10px 10px -1px var(--blackShadow);
    }
}

@keyframes outwards {
    0% {
        box-shadow: 0px 0px 0px -1px rgb(5, 5, 5), 0px 0px 0px -1px rgba(30, 30, 30);
    }
    10% {
        box-shadow: 1px 1px 1px -1px rgb(5, 5, 5), -1px -1px 1px -1px rgba(30, 30, 30);
    }
    20% {
        box-shadow: 2px 2px 2px -1px rgb(5, 5, 5), -2px -2px 2px -1px rgba(30, 30, 30);
    }
    30% {
        box-shadow: 3px 3px 3px -1px rgb(5, 5, 5), -3px -3px 3px -1px rgba(30, 30, 30);
    }
    40% {
        box-shadow: 4px 4px 4px -1px rgb(5, 5, 5), -4px -4px 4px -1px rgba(30, 30, 30);
    }
    50% {
        box-shadow: 5px 5px 5px -1px rgb(5, 5, 5), -5px -5px 5px -1px rgba(30, 30, 30);
    }
    60% {
        box-shadow: 6px 6px 6px -1px rgb(5, 5, 5), -6px -6px 6px -1px rgba(30, 30, 30);
    }
    70% {
        box-shadow: 7px 7px 7px -1px rgb(5, 5, 5), -7px -7px 7px -1px rgba(30, 30, 30);
    }
    80% {
        box-shadow: 8px 8px 8px -1px rgb(5, 5, 5), -8px -8px 8px -1px rgba(30, 30, 30);
    }
    90% {
        box-shadow: 9px 9px 9px -1px rgb(5, 5, 5), -9px -9px 9px -1px rgba(30, 30, 30);
    }
    100% {
        box-shadow: 10px 10px 10px -1px rgb(5, 5, 5), -10px -10px 10px -1px rgba(30, 30, 30);
    }
}

@keyframes outShort {
    0% {
        box-shadow: 0px 0px 0px -1px rgb(5, 5, 5), 0px 0px 0px -1px rgba(30, 30, 30);
    }
    25% {
        box-shadow: 1px 1px 1px -1px rgb(5, 5, 5), -1px -1px 1px -1px rgba(30, 30, 30);
        
    }
    50% {
        box-shadow: 2px 2px 2px -1px rgb(5, 5, 5), -2px -2px 2px -1px rgba(30, 30, 30);
        
    }
    75% {
        box-shadow: 3px 3px 3px -1px rgb(5, 5, 5), -3px -3px 3px -1px rgba(30, 30, 30);
    }
    100% {
        box-shadow: 4px 4px 4px -1px rgb(5, 5, 5), -4px -4px 4px -1px rgba(30, 30, 30);
    }
}

@keyframes inShort {
    0% {
        box-shadow: inset 0px 0px 0px -1px rgb(5, 5, 5), inset 0px 0px 0px -1px rgba(30, 30, 30);
    }
    25% {
        box-shadow: inset 1px 1px 1px -1px rgb(5, 5, 5), inset -1px -1px 1px -1px rgba(30, 30, 30);
        
    }
    50% {
        box-shadow: inset 2px 2px 2px -1px rgb(5, 5, 5), inset -2px -2px 2px -1px rgba(30, 30, 30);
        
    }
    75% {
        box-shadow: inset 3px 3px 3px -1px rgb(5, 5, 5), inset -3px -3px 3px -1px rgba(30, 30, 30);
    }
    /*100% {
        box-shadow: inset 4px 4px 4px -1px rgb(5, 5, 5), inset -4px -4px 4px -1px rgba(30, 30, 30);
    }*/
}

@keyframes shorter {

}

@keyframes blendIn {
    0% {
        box-shadow: 4px 4px 4px -1px rgb(5, 5, 5), -4px -4px 4px -1px rgba(30, 30, 30);
    }
    25% {
        box-shadow: 3px 3px 3px -1px rgb(5, 5, 5), -3px -3px 3px -1px rgba(30, 30, 30);
    }
    50% {
        box-shadow: 2px 2px 2px -1px rgb(5, 5, 5), -2px -2px 2px -1px rgba(30, 30, 30);
    }
    75% {
        box-shadow: 1px 1px 1px -1px rgb(5, 5, 5), -1px -1px 1px -1px rgba(30, 30, 30);
    }
    100% {
        box-shadow: 0px 0px 0px -1px rgb(5, 5, 5), 0px 0px 0px -1px rgba(30, 30, 30 );
    }
}
